/*----------------------------------------------

Coded from scratch by: Crystal Barragán (newbie HTML/CSS coder)

This website design is featured on (jessicacomingmore.com) and  (https://designschool.canva.com/blog/portfolio/).

------------------------------------------------*/

/*-------------- General Styles --------------*/

body {
	color: #333333;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
	    -ms-font-smoothing: antialiased;
	    -oz-font-smoothing: antialiased;
}

a:link,
a:visited {
	color: #333333;
	text-decoration: none;
	
}

a:hover,
a.active {
	color: #91725E;
	text-decoration: none;
	transition: 0.5s;
}

.btn-custom {
	width: 100%;
	margin-top: 20px;
	font-family: "ingra", Helvetica, sans-serif;
	font-size: 0.80em;
	font-weight: 400;
	color: #333333;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	background-color: #DAE3E0;
}

.btn:hover {
	color: whitesmoke;
	background-color: #ADAFAD;
	transition: 0.5s;
}
/*------------------ Resets ------------------*/

.container {
	width: calc(100% - 50px);
    max-width: 1130px;
    padding: 0 25px;
    margin: 0 auto;
	display: block;
    position: relative;
}

.no-padding {
	margin-left: 0;
  	margin-right: 0;
}

.no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gutter-15 {
	margin-left: -15px;
	margin-right: -15px;
}

.gutter-15 [class*="col-"] {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.gutter-30 {
	margin-left: -30px;
	margin-right: -30px;
}

.gutter-30 [class*="col-"] {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
/*---------------- Typography ----------------*/


.main {
	font-family: "futura-pt";
	font-weight: 500;
	letter-spacing: 0.03em;
}

.sub-main {
	font-family: "ingra", Helvetica, sans-serif;
	font-size: 0.90em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	padding: 20px 0 0;
	margin: 0;
}

.nav-links {
	text-transform: none;
	text-align: right;
	word-spacing: 10px;
}

.sub-main-no-padding {
	font-family: "ingra", Helvetica, sans-serif;
	font-size: 0.90em;
	font-weight: 400;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

p,
.normal {
	font-family: "baskerville-urw", Georgia, Times, serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.7em;
}

.paragraph span {
	font-weight: 500;
}

#back-to-projects {
	font-family: "ingra", sans-serif;
	font-size: 0.90em;
	font-weight: 400;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	cursor: pointer;
}

#back-to-top {
	font-family: "ingra", sans-serif;
	font-size: 0.90em;
	font-weight: 400;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	cursor: pointer
}
/*------------------- Home -------------------*/

nav {
	margin-top: 30px;
	font-size: 1em;
}

.nav-links li {
	display: inline-block;
}

/*------------------ Projects -------------------*/

#project {
	background: #ffffff;
	margin: 50px 0 80px;
}

.pdfobject-container {
	height: 600px;
}

/*------------------ Footer ------------------*/

#footer {
	background: #d5c9c8;
    text-align: center;
    padding: 50px 0;
}

.copyright {
}

/*--------------- Media Queries ---------------*/

@media only screen and (max-width: 767px) {
	.nav-title,
	.nav-links,
	.author-info,
	.copyright,
	#back-to-top {
		text-align: center;
	}
	
	.project-info {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 991px) {
	.about-image,
	.about-me {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}



